#header {
  padding: 2rem 0;
  background-color: var(--b);
}

.header.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.header-menu li a {
  position: relative;
  display: inline-block;
  padding: 1.2rem 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--w);
  transition: 0.3s ease-out;
}

.header-menu li a::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0.2rem;
  margin-top: 0.4rem;
  background-color: var(--w);
  transition: width 0.3s ease-out;
}

.header-menu li a:hover::after {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .header-menu li a {
    padding: 1.2rem 1.6rem;
    border-radius: 0.5rem;
    background-color: var(--c11);
  }

  .header-menu li a::after {
    display: none;
  }

  .header-menu li a:hover {
    background-color: var(--c10);
  }

  .header-menu ul {
    gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .header-menu ul {
    gap: 1.2rem;
  }

  .header-menu li a {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
  }
}
