#perguntas {
  padding-block: 12rem;
}

#perguntas h2 {
  margin-bottom: 8rem;
}

.perguntas-lista div {
  padding: 3.2rem;
  border-radius: 0.5rem;
}

.perguntas-lista div:nth-child(odd) {
  background-color: var(--cor-1);
}

.perguntas-lista dt::before {
  content: '';
  width: 0.6rem;
  height: 2.4rem;
  background-color: var(--cor-p1);
}

.perguntas-lista dt {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
  cursor: pointer;
}

.perguntas-lista dt::after {
  content: '';
  width: 1.4rem;
  height: 0.6rem;
  background-image: url('../../img/icones/seta-abrir.svg');
  transition: transform 0.3s ease-out;
}

.perguntas-lista dt:hover::after {
  transform: rotate(180deg);
}

.perguntas-lista dd {
  max-width: 80ch;
  padding-left: 1.8rem;
}

@media only screen and (max-width: 600px) {
  #perguntas {
    padding-block: 6rem;
  }

  #perguntas h2 {
    margin-bottom: 4rem;
  }
}
