#seguros {
  padding: 8rem 0 12rem;
  background-color: var(--cor-11);
}

#seguros h2 {
  margin-bottom: 6rem;
}

.seguros-lista {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
}

.seguros-lista li {
  flex: 1;
  padding: 3.2rem 3.2rem 3.2rem 4.5rem;
  border-radius: 0.5rem;
  background-color: var(--cor-12);
}

.seguros-prata .btn {
  color: var(--cor-4);
  background: var(--cor-11);
}

.seguros-prata .btn:hover {
  background: var(--cor-10);
}

.seguros-prata .seguros-lista-wrapper svg path {
  fill: var(--cor-6);
}

.seguros-lista li h3,
.seguros-lista li .btn {
  margin-left: 1.9rem;
}

.seguros-lista-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.seguros-lista-header span {
  display: block;
  text-align: right;
}

.seguros-lista-header span:nth-child(2) {
  margin-top: -0.8rem;
}

.seguros-lista-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.seguros-lista-wrapper + .seguros-lista-wrapper {
  margin-top: 2rem;
}

.seguros-lista .btn {
  margin-top: 3.2rem;
}

@media only screen and (max-width: 800px) {
  #seguros h2 {
    margin-bottom: 3.2rem;
  }

  .seguros-lista {
    flex-direction: column;
    align-items: initial;
  }

  .seguros-lista li {
    padding: 3.2rem;
  }

  .seguros-lista-header span:nth-child(2) {
    margin-top: -0.4rem;
  }
}
