#introducao {
  position: relative;
  background-color: var(--cor-12);
}

.introducao.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.introducao-infos {
  align-self: end;
  padding-bottom: 12rem;
}

.introducao-infos h1 {
  margin-bottom: 3.2rem;
}

.introducao-infos p {
  margin-bottom: 2rem;
}

.introducao-img {
  margin-bottom: -12rem;
}

.introducao-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  .introducao-infos {
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 800px) {
  #introducao {
    background-color: var(--cor-11);
  }

  .introducao.container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .introducao-infos {
    padding-top: 4rem;
    padding-bottom: 0;
  }

  .introducao-infos h1 {
    margin-bottom: 1.6rem;
  }

  .introducao-infos p {
    max-width: 55ch;
  }

  .introducao-img img {
    height: 30rem;
  }
}
