/* Estilos Gerais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
  border-radius: 0.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Retirando a decoração das seções */

@media only screen and (max-width: 1200px) {
  #introducao,
  #seguros,
  #depoimento .depoimento-infos,
  #bicicleta,
  .introducao-titulo,
  #vantagens,
  #seguros-interna,
  #nimbus,
  .contato-dados,
  .orcamento-produto {
    background-image: initial !important;
  }
}
